body {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}



/* Customize the navbar links to be fill the entire space of the .navbar */
#navbar-sports .navbar-inner {
    padding: 0;
}
#navbar-sports .nav {
    margin: 0;
    display: table;
    width: 100%;
}
#navbar-sports .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}
#navbar-sports .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}
#navbar-sports .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
#navbar-sports .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.trigger_event{
    cursor: pointer;
}