resources.db.adapter = 'pdo_mysql'
resources.db.params.host = 'localhost'
resources.db.params.username = 'root'
resources.db.params.dbname = 'planz_dev'
resources.db.params.password = ''
app.url.base = 'http://planz.texai.me'
app.url.static = 'http://planz.texai.me/static'
app.title = 'Plan Z'
app.version = '1'